<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Vue.js App</title>
  <link rel='stylesheet' href='main.css'>
</head>
<body>
  <div id='app' v-cloak>
    <p>▼inputに入力されたものをバインディング</p>
    <p>{{ message }}</p>
    <input type='text' v-model='message'>

    <p>▼v-forディレクティブを使ったリストの表示</p>
    <ul>
      <li v-for='item in list'>{{ item }}</li>
    </ul>

    <p>▼v-onディレクティブを利用したクリックイベント</p>
    <button v-on:click='handleClick'>Click</button>

    <p>▼v-ifディレクティブを利用したDOMの表示と非表示</p>
    <p v-if='show'>Hello Vue.js!</p>

    <p>▼トランジション&アニメーション</p>
    <button v-on:click='show2=!show2'>切り替え</button>
    <transition>
      <p v-if='show2'>Hello Vue.js!</p>
    </transition>

    <p>Hello {{ message2.value }}</p>
    <p>{{ message2.value .length }}</p>
    <p>{{ list[2] }}</p>
    <p>{{ list[num] }}</p>

    ▼v-bind:valueは省略できる
    <p>value記述方法「v-bind:value='message2.value'」</p>
    <div><input type="text" v-bind:value='message2.value'></div>
    <p>value記述方法「:value='message2.value'」</p>
    <div><input type="text" :value='message2.value'></div>

    <div v-bind:text-content.prop='message3.value'></div>
    <div v-bind:scroll-top.prop='scroll'></div>

    <p>▼JSON形式でdataの中身を表示させる</p>
    <div>{{ $data }}</div>

    <p>▼クリックしたカウントを増やす</p>
    <p>{{ count }}回クリックしたよ！</p>
    <button v-on:click='increment'>カウントを増やす</button>

    <p>クラスとスタイルのデータバインディング</p>
    <p v-bind:class='{ child: isChild, "is-active": isActive }'>text</p>
    <p v-bind:style='{ color: textColor, backgroundColor: bgColor }'>text</p>

    <p>オブジェクトデータを渡す</p>
    <p v-bind:class='classObject'>text</p>
    <p v-bind:style='styleObject'>text</p>

    <p>大量のプロパティを属性にバインドするとき</p>
    <p>悪い例</p>
    <p v-bind:id='item.id'
       v-bind:class='item.class'
       v-bind:width='item.width'
       v-bind:height='item.height'
    >
      text
    </p>
    <p>良い例</p>
    <p v-bind='item' v-bind:id='item.id' v-bind:class='item.class'>text</p>

    <p>複数の要素を同時に切り替えたい時はtemplateタグを使う</p>
    <button v-on:click='chnageStatus'>show template</button>
    <template v-if='ok'>
      <p>text</p>
      <p>text2</p>
    </template>

    <p>リストデータの表示と更新</p>
    <ul>
      <li v-for='(item, index) in monsterList' v-bind:key='item.id'>
        {{ item.name}} HP：{{ item.hp }}
        <span v-if='item.hp === 0'>死亡</span>
        <button v-if='item.hp !== 0' v-on:click='attackMonster(index)'>攻撃する</button>
        <button v-on:click='removeMonster(index)'>モンスターを削除</button>
      </li>
    </ul>

    <p>▼新しいモンスターを追加</p>
    <input v-model='name' type='text' placeholder='名前を入力'>
    <input v-model='hp' type='text' placeholder='HPを入力'>
    <p>{{ this.name }}</p>
    <button v-on:click='addMonster'>モンスターを追加</button>
  </div>
  <script src='https://cdn.jsdelivr.net/npm/vue@2.5.13'></script>
  <script src='main.js'></script>
</body>
</html>
